AtomPair NE2 38 FE 116 HARMONIC 2.0 0.1
Angle FE 116 NE2 38 ND1 38 CIRCULARHARMONIC 2.806 .2
Angle FE 116 NE2 38 CG 38 CIRCULARHARMONIC 2.845 .2

AtomPair NE2 98 FE 116 HARMONIC 2.0 0.1
Angle FE 116 NE2 98 ND1 98 CIRCULARHARMONIC 2.806 .2
Angle FE 116 NE2 98 CG 98 CIRCULARHARMONIC 2.845 .2

AtomPair NE2 9 FE 117 HARMONIC 2.0 0.1
Angle FE 117 NE2 9 ND1 9 CIRCULARHARMONIC 2.806 .2
Angle FE 117 NE2 9 CG 9 CIRCULARHARMONIC 2.845 .2

AtomPair NE2 68 FE 117 HARMONIC 2.0 0.1
Angle FE 117 NE2 68 ND1 68 CIRCULARHARMONIC 2.806 .2
Angle FE 117 NE2 68 CG 68 CIRCULARHARMONIC 2.845 .2
